<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
    <style>
        body{
            background-image: url('/static/yellowjpg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-size: cover;
        }
        h1{
            margin: 50px;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 30px;
            color: rgb(247, 246, 247);
        }
    </style>
    <div class="results">
        {% if prediction == 1%}
        </style>
            <h1 style="color: red; font-size: 50px; margin: 100px;">
                Warning!! Spam Message
            </h1>
        {% elif prediction == 0%}
        </style>
        <h1 style="color: rgb(19, 134, 19);font-size: 50px; margin: 100px;">
            Not Spam
        </h1>
        {% endif %}
    </div>
</head>
</html>